In [2]:
print('hello World')
print("My name is Aman")

hello World
My name is Aman

In [3]:
# Identifiers: 
# ->use only alphanumeric characters and underscore
# ->Never start with number
# ->Use underscores to separate two words
# ->Keywords can not be identifiers.

age=22
name="Aman"
print(age)
print(name)

22
Aman

In [6]:
# Data_Type
rating= 4.7
print(rating, type(rating))
Name="Aman"
print(Name, type(Name))
marks=96
print(marks, type(marks))

is_passed= True
print(is_passed, type(is_passed))
my_complex_number=4+5j
print(my_complex_number, type(my_complex_number))
fruit_lists=['Apple', 'Mango', 'Banana']
print(fruit_lists, type(fruit_lists))

4.7 <class 'float'>
Aman <class 'str'>
96 <class 'int'>
True <class 'bool'>
(4+5j) <class 'complex'>
['Apple', 'Mango', 'Banana'] <class 'list'>

In [7]:
# Write a program to save the following values of a user: Name, age, year of birth, Is New user?, List of his favourite food.
name="Aman"
age=22
DOB=11-10-2002
Is_new_user= True
Favourite_food=['Chhole bhature', 'Biryani']
print(Name)
print(age)
print(Is_new_user)
print(Favourite_food)

Aman
22
True
['Chhole bhature', 'Biryani']

In [9]:
# Python Operators:
#1.) Arithematic 
a=5
b=3
c=a+b
print(c)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #gives remainder
print(a//b)  #gives quotient without point value.
print(a**b) #power 5^3

8
8
2
15
1.6666666666666667
2
1
125

In [10]:
#write a program to average of three numbers
a=3
b=6
c=4
avg=(a+b+c)/3
print(avg)

4.333333333333333

In [14]:
#2.) Assignmnet Operator: +=, -=, *=, /=, %=.....
a=6
# a=a+5
a+=5
print(a)

11

In [18]:
#3.) Comparison Operators: ==, !=, <, >, <=, >=
a=45
b=23
print('a>b',a>b)
print('a==b',a==b)
print('a<=b',a<=b)
print('a>=b',a>=b)
print('a!=b',a!=b)

a>b True
a==b False
a<=b False
a>=b True
a!=b True

In [21]:
#4.) Logical Operators:
x=True
y=False

print('x and y is:', x and y)
print('x or y is:', x or y)
print('x not y is:', not x)

x and y is: False
x or y is: True
x not y is: False