In [2]:
# User input and output
name=input()
print('Name:', name)

a=int(input('Enter a:'))
b=int(input('Enter b:'))

c=a*b
print(c)

 Aman

Name: Aman

Enter a: 34
Enter b: 2

68

In [5]:
# Program to take marks of a user in 3 subject and print average of them.
English=int(input('Enter marks of English:'))
Maths=int(input('Enter marks of Maths:'))
Science=int(input('Enter marks of Science:'))
avg=(English+Maths+Science)/3
print("Average marks of three subjects is:", avg)

Enter marks of English: 92
Enter marks of Maths: 100
Enter marks of Science: 96

Average marks pf three subjects is: 96.0

In [6]:
# Conditional Statements : If, else, elif

age=23
if(age>18):
    print("You can vote")

You can vote

In [8]:
num=int(input('Enter number'))
if num>0:
    print('Positive number')
elif num==0:
    print("Zero")
else:
    print('Negative number')

Enter number -98

Negative number

In [11]:
# Range function: we can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9.
a=range(10)
print(a)

range(0, 10)

In [12]:
a=list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
a=list(range(5,11))
print(a)

[5, 6, 7, 8, 9, 10]

In [14]:
a=list(range(5, 11, 2))
print(a)

[5, 7, 9]

In [19]:
# LOOPS:
for x in range(10):
    print(x*2)
    #print(x*2, end=",")  -> to print in single line

0,2,4,6,8,10,12,14,16,18,

In [24]:
a=['Aman', 'vishal', 'Piyush']
for name in a:
    #print(a)
    print(name*2)
    #print(name*2, end=',')

AmanAman
vishalvishal
PiyushPiyush

In [26]:
# While Loop: This loop in python is used to iterate over a block of code as long as the test condition is true.

n=5
while n>=0:
    print(n)
    n-=1

5
4
3
2
1
0

In [27]:
# Break and Continue:
# break is used to get out from the loop.
for i in range(10):
    if i>6:
        break
    print(i)

0
1
2
3
4
5
6

In [29]:
# Continue is used to skip current iteration.
for i in range(10):
    if i==6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [35]:
# Strings: A string is a sequence of characters
# -> Triple qoutes is used to print multiline statements.
fruit= "Mango"
print(fruit[1])
print(fruit[3])
print(fruit[-1])

my_char=fruit[2];
print(my_char)

a
g
o
n

In [38]:
# Accessing characters in a string (Slicing)
s = "abcdefgh"  # if you want to print bcdef.
s[1:6]          # 6 because it is exclusive.

'bcdef'

In [39]:
s[2:5]

'cde'

In [40]:
s[:6]

'abcdef'

In [41]:
s[0:6:2]  # [starting index: last index: steps] 
# 2 is repersenting that it will print by leaving 2 characters.

'ace'

In [42]:
s  # strings are immutable.

'abcdefgh'

In [43]:
s[::-1]    #reverse of string.

'hgfedcba'

In [46]:
s[0:5:-1]  #you are going from left to right but your direction is from right to left, so it will not print anything.
s[-1:0:1]

''

In [45]:
s[-1:0:-1]  # a will not print as it is exclusive

'hgfedcb'

In [49]:
a="pqr"
b='xyz'
# c=a+b
c=a*3
print(c)

pqrpqrpqr

In [50]:
# For loop with Strings:
a="abc"
for my_char in a:
    print(my_char*2)

aa
bb
cc

In [55]:
# Python string methods:
password="abcd"
print(password.isalpha())
print(password.isdigit())
print(password.islower())
print(password.isupper())
print(password.lower())
print(password.upper())

True
False
True
False
abcd
ABCD

In [56]:
password="ABCD%$"
print(password.isalpha())
print(password.isdigit())
print(password.islower())
print(password.isupper())
print(password.lower())
print(password.upper())

False
False
False
True
abcd%$
ABCD%$

In [57]:
# lstrip and rstrip
s='  abcd  '
s.lstrip()   # it will remove left side spaces

'abcd  '

In [58]:
s.rstrip()   # it will remove right side spaces

'  abcd'

In [61]:
# List: A list is created by palcing all items/elements inside the square bracket[] separated by commas.
    # It my have any number if items and they may be different data types(int, float, string..)
my_list=[1,'Aman','chatra']
print(my_list)

[1, 'Aman', 'chatra']

In [64]:
fruits=['Apple', 'Banana', 'Mango']
print(fruits[0])
print(fruits[2])

print(fruits[-2])

Apple
Mango
Banana

In [68]:
# Slicing in list:
x=[1,2,3,4,5,6,7,8]
x[0:5]

[1, 2, 3, 4, 5]

In [69]:
x[0:5:2]

[1, 3, 5]

In [72]:
x[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
x[-1:0:-2]

[8, 6, 4, 2]

In [78]:
# Lists are muttable(ie. can be changed either update or delete) 
fruits=['Apple', 'Banana', 'Mango']
fruits[0]='Grapes'
print(fruits)

['Grapes', 'Banana', 'Mango']

In [79]:
del fruits[1]
print(fruits)
# del fruits  (it will delete the list )

['Grapes', 'Mango']

In [81]:
# List Comprehension:  new_list=[expression    for item in list     if condition]
# a= [0,1,2,3,4,5,6,7,8,9]

a=[x for x in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
# for even numbers
a=[x for x in range(10) if x%2==0]
print(a)

[0, 2, 4, 6, 8]

In [85]:
# cube of numbers
a=[3**x for x in range(10)]
print(a)

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

In [93]:
# list methods: (we use dot)
# append, 
# insert,
# sort,
# pop, 
# clear,
# reverse,
# index,
# count.
a=[1,2,3]
print(a)
a.append(4)   # it will add in list
print(a)

[1, 2, 3]
[1, 2, 3, 4]

In [94]:
a.insert(1, 'Aman')  # 1 is index and Aman is inserted number at index 1.
print(a)

[1, 'Aman', 2, 3, 4]

In [95]:
# Sort:
a=[23, 12, 45, 10, 56, 16, 96]
a.sort()
print(a)

[10, 12, 16, 23, 45, 56, 96]

In [96]:
a.pop(0)    # First element will be deleted.
print(a)

[12, 16, 23, 45, 56, 96]

In [97]:
a.clear()  # it will clear the list
print(a)

[]

In [98]:
fruits=['Apple', 'Banana', 'Mango']
fruits.reverse()   # it will reverse the list
print(fruits)

['Mango', 'Banana', 'Apple']

In [99]:
print(fruits.index('Apple'))

2

In [100]:
print(fruits.count('Apple'))   #kitni baar present hai list me

1

In [101]:
fruits=['Apple', 'Banana', 'Mango', 'Apple']
print(fruits.count('Apple'))

2

In [102]:
# List functions:
# len(list)
# max(list)
# min(list)
# sum(list)
# list(seq)

a=[23, 12, 45, 10, 56, 16, 96]
print(len(a))

7

In [103]:
print(max(a))

96

In [104]:
print(min(a))

10

In [108]:
print(sum(a))

258

In [112]:
s='Aman'
print(list(s))

['A', 'm', 'a', 'n']

In [114]:
# for loop with lists:
for car in ['maruti', 'venue', 'bmw', 'maybac']:
    print(car)

maruti
venue
bmw
maybac

In [115]:
a=[23, 12, 45, 10, 56, 16, 96]
for x in a:
    print(x*2, end=" ")

46 24 90 20 112 32 192

In [116]:
# Tuples: A tuple is immutable (i.e the elements of tuple cannot be changed once it has been assigned.
my_tuple=(1,2,3)
print(my_tuple)

(1, 2, 3)

In [117]:
my_tuple=(1,"Aman",3.122)
print(my_tuple)

(1, 'Aman', 3.122)

In [119]:
# s= "AMAN"    string is immutable
# s[0]='B'
# print(s)

In [120]:
s= ['A', 'M', 'A', 'N']    # lists are mutable
s[0]='B'
print(s)

['B', 'M', 'A', 'N']

In [122]:
# s= ('A', 'M', 'A', 'N')    # tuples are immutable
# s[0]='B'
# print(s)

In [123]:
# Tuple Operations: same as list
# 1.) Positive and Negative Indexing
# 2.) Slicing
# 3.) Iterating through a tuple

# Tuple functions: same as list
# len(Tuple)
# max(Tuple)
# min(Tuple)
# sum(Tuple)
# Tuple(seq)

In [124]:
# SETs: Duplicate elements are not allowed.
a={1,2,3,4,2,3,1}
print(a)

{1, 2, 3, 4}

In [126]:
# print(a[0])   It will give error as indexing is not there in list. that's why we use dictionary.

In [127]:
# WE can use for loop:
for element in a:
    print(element*2)

2
4
6
8

In [128]:
# Dictonary: It is an unordered collection of items. while other compound data types have only value as element, a dictonary has- [a key: value pair].
marks= {'AMAN': 96, 'anish': 98, 'Bhakta': 97}
print(marks)

{'AMAN': 96, 'anish': 98, 'Bhakta': 97}

In [130]:
print(marks['AMAN'])

96

In [132]:
marks= {'AMAN': 96, 'anish': 98, 'Bhakta': 97, 23:45, 12: 98}
print(marks[23])

45

In [133]:
# Iterating through dictonary:
squares={1:1, 3:9, 5:25, 7:49, 9:81}
for i in squares:
    print(squares[i])

1
9
25
49
81

In [141]:
squares={1:1, 3:9, 5:25, 7:49, 9:81}
for i in squares:
    print(i, squares[i])

1 1
3 9
5 25
7 49
9 81

In [143]:
# Updating Dictionary Items:
my_dict={'name':'Jack', 'age': 26}
my_dict['age']=22
print(my_dict)

{'name': 'Jack', 'age': 22}

In [144]:
marks= {'AMAN': 96, 'anish': 98, 'Bhakta': 97}
marks['Piyush']=99
print(marks)

{'AMAN': 96, 'anish': 98, 'Bhakta': 97, 'Piyush': 99}

In [145]:
marks['Piyush']=92  # updating marks
print(marks)

{'AMAN': 96, 'anish': 98, 'Bhakta': 97, 'Piyush': 92}

In [ ]:
# Python Functions: It is a group of related statements that perform a specific task.
def sum(a,b):

In [ ]:
# Important Modules:
# math 
# random
# string

In [146]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [147]:
print(math.pi)

3.141592653589793

In [148]:
# we can also use shortcut 
import math as m
print(m.pi)

3.141592653589793

In [149]:
print(m.cos(3.14))

-0.9999987317275395

In [150]:
#for importing we can also import specific things
#  ex-
from math import cos
print(cos(3.14))

-0.9999987317275395

In [152]:
from math import cos, sin
print(cos(3.14))
print(sin(3.14))

-0.9999987317275395
0.0015926529164868282

In [154]:
# to use all properties we use *
from math import *
print(cos(3.14))
print(sin(3.14))
print(pi)

-0.9999987317275395
0.0015926529164868282
3.141592653589793

In [156]:
# User defined functions:
# syntax

# def function_name(parameters):
#     '''docstring'''
#     statement(s)

def greet():
    print('Good Morning , AMAN')
greet()    
greet()

Good Morning , AMAN
Good Morning , AMAN

In [158]:
# Calling the function
def greet(name):
    print('Good Morning ,', name)
greet('Anish')

Good Morning , Anish

In [160]:
greet(3.456)

Good Morning , 3.456

In [164]:
def greet(name, dish):
    print('Good Morning,', name)
    print('Please eat', dish)
greet('Aman', 'Biryani')

Good Morning, Aman
Please eat Biryani

In [165]:
# If dish name is not given then it will throw error:
def greet(name, dish):
    print('Good Morning,', name)
    print('Please eat', dish)
greet('Aman')

TypeError: greet() missing 1 required positional argument: 'dish'

In [167]:
# So another way to write is declaring name of dish at starting:
def greet(name, dish='Biryani'):
    print('Good Morning,', name)
    print('Please eat', dish)
greet('Aman')

Good Morning, Aman
Please eat Biryani

In [171]:
# Returning from the functions
# The return statement is used to exit a function and go back to the place from where it was called.
# return {expression_list}

def sum_of_list(a):
    print('Sum of marks are:')
    return sum(a)

marks = [45,67,83,49]
sum_of_marks = sum_of_list(marks)

print(sum_of_marks)

Sum of marks are:
244

In [176]:
# Write a function which takes a list of names as argument and greets "Hello" to everyone.
def list_of_names(a):
    print("hell0")

list1=['Aman', 'Ankit', 'saurabh', 'Anish']
greet= list_of_names(list1)
print(list1, greet)

hell0
['Aman', 'Ankit', 'saurabh', 'Anish'] None

In [175]:
def greetings(names):
    for name in names:
        print("hell0", name)

names=['Aman', 'Ankit', 'saurabh', 'Anish']
greetings(names)

hell0 Aman
hell0 Ankit
hell0 saurabh
hell0 Anish